
<div class="play-buttons-container">
	<form name="switch_turn" id="switch_turn" action="/player_switch_turn" method="POST">
		<button id="button" hidden disabled>Next Move</button>
	</form>
</div>

<div class="play-grid">
		
	<form name="game_grid" id="game_grid" action='/player_attack' method='POST' >

		<input class='legend' type='button' value=" " disabled>
		<% for i in 1..10 %>
			<input class='legend' type='button' value="<%= i %>" disabled>
		<% end %><br/>


		<% for i in "A".."J" %>		
			<input class='legend' type='button' value="<%= i %>" disabled>
			<% for j in "1".."10" %>
				<% coord = (i+j).to_sym %>
				<% if other_player.attacked_coordinates.include?(coord) %>
					<% if hit_coordinates.include?(coord) %>
						<% if !sunk_ships_coordinates.nil? && sunk_ships_coordinates.include?(coord) %>
							<input class="attacked_sunk" name="attack_coord" type='submit' value="X" disabled>
						<% else %>
							<input class="attacked_hit" name="attack_coord" type='submit' value="+" disabled>
						<% end %>
					<% else %>
						<input class="attacked_miss" name="attack_coord" type='submit' value="O" disabled>
					<% end %>
				<% else %>
					<input class='coord' name="attack_coord" type='submit' value="<%= coord.to_s %>">
				<% end %>
			<% end %><br/>
		<% end %><br/>
	</form>
</div>
			
			<h2><%= "#{session[:player_one]}\'s Ships:" %></h2>
			<%= session[:player_one_ships] %>

			<h2><%= "#{session[:player_two]}\'s Ships:" %></h2>
			<%= "#{session[:player_two_ships]}" %>

