<html>
	<head>
		<title></title>
		<link href="/css/style.css" rel="stylesheet">
		<script></script>
	</head>
	<body>
		<h1>BATTLESHIPS</h1>
		<h2><%= session[:message] %></h2>
		<form name="game_grid" id="game_grid" action='/player_attack' method='POST'>

			<input class='legend' type='button' value=" " disabled>

			<% for n in 1..10 do %>
				<input class='legend' type='button' value="<%=n%>" disabled>
			<% end %><br/>

			<input class='legend' type='button' value='A' disabled>

			<% array = ["A1","A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10"] %>
			<% for n in 0..9 do %>

				<% if other_player.attacked_coordinates.include?((array[n]).to_sym) %>

					<% if hit_coordinates.include?((array[n]).to_sym) %>

						<input class='attacked' name="attack_coord" type='submit' value="X" disabled>

					<% else %>

						<input class='attacked' name="attack_coord" type='submit' value="O" disabled>

					<% end %>

				<% else %>

					<input class='coord' name="attack_coord" type='submit' value="<%=array[n]%>">

				<% end %>
			
			<% end %><br/>

			<input class='legend' type='button' value='B' disabled>

			<% array = ["B1","B2", "B3", "B4", "B5", "B6", "B7", "B8", "B9", "B10"] %>

			<% for n in 0..9 do %>

				<% if other_player.attacked_coordinates.include?((array[n]).to_sym) %>

					<% if hit_coordinates.include?((array[n]).to_sym) %>

						<input class='attacked' name="attack_coord" type='submit' value="X" disabled>

					<% else %>

						<input class='attacked' name="attack_coord" type='submit' value="O" disabled>

					<% end %>

				<% else %>

					<input class='coord' name="attack_coord" type='submit' value="<%=array[n]%>">

				<% end %>
			
			<% end %><br/>

			<input class='legend' type='button' value='C' disabled>

			<% array = ["C1","C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10"] %>

			<% for n in 0..9 do %>

				<% if other_player.attacked_coordinates.include?((array[n]).to_sym) %>

					<% if hit_coordinates.include?((array[n]).to_sym) %>

						<input class='attacked' name="attack_coord" type='submit' value="X" disabled>

					<% else %>

						<input class='attacked' name="attack_coord" type='submit' value="O" disabled>

					<% end %>

				<% else %>

					<input class='coord' name="attack_coord" type='submit' value="<%=array[n]%>">

				<% end %>
			
			<% end %><br/>

		</form>

		<form name="switch_turn" id="switch_turn" action="/player_switch_turn" method="POST">
			<input type="submit" name="continue" value="continue">
		</form>

	</body>
</html>